.option {
  // float: right;
  // margin-right: 100px;
  display:flex;
  justify-content: center;
}

.row {
  width: 100%;
  margin-left:250px;
  // position: relative;
}

.quizContainer {
  display: flex;
  margin: auto;
  margin-left: 50px;
}

.container-fluid {
  width: 100vw;
  top: 10vh;
  position: relative;
  
  carousel {
    width: 100%;
    height: 100%;
    
    
  }
    .list-inline {
      margin-top: 2rem;
      justify-content: center;
      display: flex;
     padding-bottom: 1em;
      
    }
      li {
        display: inline-block;
        width: 55px;
        height: 60px;
        background: white;
        border-radius: 40px;
        text-align: center;
        padding-top:.4em;
        font-size: 1.2rem;
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 2em;
        
        
        cursor: pointer;
        transition: all 0.3s;
        
        &.selected {
          background: white;
         
        }
        .choice-selected {
          height: 80%;
          object-fit: cover;
          font:300px;
          margin-bottom:2em;
         
        }
      }
    }
  

  .question-count {
    float: left;
  }
  .deleteQuiz {
    // color:black;
    // top:.2em;
    // right: 43.0em;
    bottom: .85em;
    z-index:1999;

    // #delete {
    //   position: absolute;
    //   // top: 10px;
    //   // left: 10px;
    //   left: 60.0em;
    //   top: 110px;
      
    // }
    
  }

  .col-md-40, .col-xs-40 {
    position:relative;
  }

.carousel-indicators {
  display: block;
}

@media only screen and (min-width: 768px) {
  .option {
    float: right;
    margin-right: 10px;
    
  }

  .quizContainer {
    margin-left: 50px;
  }


  .container-fluid {
    width: 80vw;
    top: 4vh;
    
    carousel {
      width: 100%;
      height: 100%;
      
      
    }
      .list-inline {
        margin-top: 2rem;
        justify-content: center;
        display: flex;
        padding-bottom: 1em;
       
        
      }


      .row {
        width: 70%;
        margin-left:200px;
        // position: relative;
      }

        li {
          display: inline-block;
          width: 55px;
          height: 60px;
          background: white;
          border-radius: 40px;
          text-align: center;
          font-size: 1.2rem;
          margin-left: 5px;
          margin-right: 5px;
          padding-bottom: 1em;
          
          
          cursor: pointer;
          transition: all 0.3s;
          
          &.selected {
            background: white;
           
          }
          .choice-selected {
            height: 80%;
            object-fit: cover;
            font:300px;
            margin-bottom:2em;
           
          }
        }
      }
    
  
    .question-count {
      float: left;
    }
  
  
  .carousel-indicators {
    display: block;
  }

.row {
  position: relative;
}
  .deleteQuiz {
    color:black;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}