<nav class="navbar-span">
  <div class="section1">
    <a class="navbar-logo" (click)="onClick()" routerLink="\">e a r t h l y</a>
    <div class="collapse navbar-collapse" id="navbarText">
  
    <form name="userIcons" id="userIcons">
        <a id="ui" routerLink="/"><i id="fa-home" class='fas fa-home'></i></a><p>Home</p>
        <button id="ui" routerLink='/favorites'><i class='fas fa-heart'></i></button><p>Favorites</p>
        <!-- <button id="ui"><i class='fas fa-user-alt'></i></button> -->
      </form>
    </div>
  </div>
</nav>

