
.navbar-span {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    padding: 10px;
    width: 100%;
   
}

.dropdown, .dropdown-content  {
    display: none;
} 

p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    width: 250px;
    padding-left: 20px;
    padding-top: 10px;
}
 
.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 68%;
}

.navbar-logo {
    position: relative;
    white-space: nowrap;
    color:white;
    text-decoration: none;
    color: #eeeeee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}


#userIcons {
    display: flex;
    flex-direction: row;
    align-items: right;
    position: absolute;
    top: 35px; 
    right: 35px;    
    margin: 0;
    justify-content: right;


  
}

#ui {
    background-color:black; 
    border:none;
    cursor:pointer;
    /* display: inline;
   margin-right: 5px; */
}

i {
    color:#eeeeee; 
    font-size: 1.2rem;
}

.fa-heart:hover {
    color: lightgreen;
}

.fa-home:hover {
    color: lightgreen;
}

.fa-check-circle:hover {
    color: lightgreen;
}


p {
 color:white;   
}


@media only screen and (min-width: 768px) {
}


  
  @media only screen and (max-width: 480px) {
   
    
 

    .dropbtn {
        /* width:70px; */
        background-color:lightgreen;
        margin-left: 60px;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 2px;
        position: absolute;
        top: -10px;
        left: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
       .dropdown {
       
        /* position: absolute; */
        display: inline-block;
        padding: 20px;
    
      } 

      .dropdown-content {
        display: none;
        position: absolute;
        padding: 10px;
        background-color: #f9f9f9;
        z-index: 1;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .dropdown-content a {
        color: black;
        margin: 5px;
        text-decoration: none;
        display: block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
    
    p {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .logo {
        width: 200px;
    
        padding-left: 10px;
        padding-bottom: 10px;
    }
      

  }


p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}