/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

#fillerFrame{
    height: 75px;
    width: 100%;
}

    .left {
      transform: translateX(-7rem);
    }
  
    .right {
      transform: translateX(9rem); 
         
    }
    
    .icon-next, .icon-prev {
      height: 300px;
      width: 30px;
      cursor: pointer;
      opacity: .5;
      
    }
    /* .carousel-control-prev {
      margin-left: 20em!important;
    } */

    .carousel-control-next {
      margin-left: 20em!important;
      width: 3%;
    }
    .icon-next {
      right:-400em;
          }
          .icon-prev {
      left:9;
          }
  
  /* .carousel.slide {
    right: 20.0rem;
   
  } */
    .active {
      width: 100%;
    }
  
  
  .carousel-indicators {
    display: none;
    bottom: -3rem;
  }
    li {
      height: 20px;
      border-radius: 10px;
    }
      .active {
        background-color: rgba(255, 255, 255, 0.75);
        
      }
    
      @media only screen and (min-width: 768px) {
      .icon-prev,.icon-next {
        font-size:300px!important;
        right: 100%!important;
        left: 5%!important;
        top:30%!important;
      }
    }
   