/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

#fillerFrame{
    height: 75px;
    width: 100%;
}

    .left {
      transform: translateX(-9rem);
    }
  
    .right {
      transform: translateX(9rem); 
         
    }
    
    .icon-next, .icon-prev {
      height: 30px;
      width: 30px;
      cursor: pointer;
      opacity: .5;
      
    }
  
  
  .carousel.slide {
    right: 1.0rem;
   
  }
    .active {
      width: 100%;
    }
  
  
  .carousel-indicators {
    display: none;
    bottom: -3rem;
  }
    li {
      height: 20px;
      border-radius: 10px;
    }
      .active {
        background-color: rgb(32,178,170);
        
      }
    
      @media only screen and (min-width: 768px) {
      .icon-prev,.icon-next {
        font-size:300px!important;
        right: 100%!important;
        left: 60%!important;
        top:30%!important;
      }
    }
   