

  

<h2 id="rethink">RETHINK THE </h2>
<h1 id="future">FUTURE</h1>

<h3>Find A Recycling Center Near You</h3> 



<div class="search-form">
    <form (submit)="findMaterials()">
        
        <input required name="city" placeholder="Enter City Here" [(ngModel)]="city" />
 
        <br>
        <button>Find Locations</button>
    </form>
 
     
    <div class= "results" *ngFor="let location of locations">
        
        <p id= "location">{{ location.description }}</p>
        <p> Curbside: {{ location.curbside }}</p>
        <p id= "distance"> Distance: {{ location.distance }} </p>
        <i id="ui" (click)="addFavorite()" i class='fas fa-heart'></i>
        
</div>







