.navbar-span {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
/*     padding: 2% 3%;
    background-color: black;
    box-shadow: 0 1px 0 0 rgba(247, 244, 244, 0.2), 0 6px 10px 0 rgba(247, 244, 244, 0.1); */
    background-color: black;
    align-items: center;
    padding: 15px;
    width: 100%;
    /* box-shadow: 0 1px 0 0 rgba(247, 244, 244, 0.2), 0 6px 10px 0 rgba(247, 244, 244, 0.1); */
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 68%;
}

.navbar-logo {
    position: relative;
    white-space: nowrap;
    color:white;
    /* text-decoration: none; */
    /* width: 28%; 
}

h1 { */
    text-decoration: none;
/*     width: 28%; 
}

h1 {
    text-decoration: none; */
    color: #eeeeee;
    font-family: 'Gugi', cursive;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}


.filters-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 310px;
    /* margin: 0 50px; */

}

#filterbtn {
    margin: 0px 10px;
    padding: 0;
    color:#eeeeee;
    border: none;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    /* width: 95px; */
    /* height: 28px; */
    /* box-shadow: 0 1px 15px 1px rgba(247, 244, 244, 0.2), 0 6px 10px 0 rgba(247, 244, 244, 0.2); */
}

#filterbtn:hover {
    color: goldenrod;
}

#userIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;    
    margin: 0;
    width: 30%;
    justify-content: flex-end;
}

#ui {
    background-color:black; 
    border:none;
    cursor:pointer;
}

i {
    color:#eeeeee; 
    font-size: 1.2rem;
}

.fa-heart:hover {
    color: #ed361a;
}

input[type=text] {
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #eeeeee;
    font-size: 1.5rem;
    background-color: black;
    color: #eeeeee;
    background-repeat: no-repeat;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    border-radius: 2px;
    /* padding: 12px 20px 12px 20px; */
    -webkit-transition: width 0.4s ease-out-in;
    transition: width 0.4s ease-out-in;
  }

  .genreFilter {
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    color: #eeeeee;
    font-size: 1.1rem;
    border: 2px solid #eeeeee;
    padding: 5px;
    border-radius: 2px;
  }

  @media only screen and (min-width: 1025px) {
    .section1 {
        width: 70%;
    }

    .filters-container { 
        width: 460px;
    }

    #filterbtn {
        margin: 0px 20px;
        color:#eeeeee;
        font-size: 1.5rem;
    }

    #userIcons {
        width: 28%;
    }

    
    i {
        font-size: 1.5rem;
        padding: 0 2px;
    }

    input[type=text] {
        width: 215px;
        font-size: 1.5rem;
      }

      .genreFilter {
        font-size: 1.5rem;
        padding: 5px 20px;
      }
  }
