<h2 id="rethink">RETHINK THE </h2>
<h1 id="future">FUTURE</h1>

<h3>Find A Recycling Center Near You</h3> 

<div class="search-form">
    <form (submit)="findMaterials()">
    
        <input required name="city" placeholder="Search by your location" [(ngModel)]="city" />

        <span class="selectTitle">Select a material:</span>
        <select class="select" name="materials" [(ngModel)]="selectedMaterial" (change)="getMaterials()">
            <option value="445, 93, 456, 429, 464, 470, 477">Plastic Bags</option>
            <option value="60, 455, 63, 64, 65, 66, 67, 449">Plastic Bottles</option>
            <option value="62, 61">Plastic Jugs</option>
            <option value="448, 454, 458, 463, 468, 476, 593, 593">Rigid Plastics (such as plastic crates/buckets)</option>
            <option value="147, 637">CDs and DVDs</option>
            <option value="655, 355, 471">Styrofoam</option>
            <option value="421">Latex Foam</option>
            <option value="121, 521">Aerosol Cans</option>
            <option value="432, 77, 102, 433, 255, 430, 76, 431">Glass Containers</option>
            <option value="104, 127, 689, 6, 687, 685, 613, 691">Single-use Batteries</option>
            <option value="4">Car Batteries</option>
            <option value="70">Aluminum Beverage Cans</option>
            <option value="73">Tin or Steel Soup Cans</option>
            <option value="485">Audio Equipment</option>
            <option value="85, 491">Desktop Computers and Laptop Computers</option>
            <option value="488">Digital Cameras</option>
            <option value="245">Cell Phones</option>
            <option value="275">Auto Parts</option>
            <option value="134, 525">Bicycle Parts</option>
            <option value="44, 669, 561, 425, 663, 625, 58, 96">Mixed Paper/Mail</option>
            <option value="94">Magazines</option>
            <option value="39">Newspaper</option>
            <option value="250, 541">Paperback Books and Hardcover Books</option>
            <option value="531">Pizza Boxes</option>
            <option value="217">Carpet</option>
            <option value="226">Mattresses</option>
            <option value="83, 371">Clothing and Fabric</option>
        </select>
        <p>Hello</p>

        <button>Find Locations</button>
    </form>
     
    <div class= "results" *ngFor="let loc of locations; let i=index">
    
        <a href="{{ loc.url }}"><p id= "location">{{ loc.description }}</p></a>
        <p id="address"> Address: {{ loc.address }} {{ loc.city }} {{ loc.province }} {{ loc.postal_code }}</p>
        <p id="details">Hours: {{ loc.hours }}  </p>
        <p id="contact">Phone: {{ loc.phone }} </p>
        <i id="ui" (click)="toggleFavorite(loc.location_id)" i class='fas fa-heart {{ isFavorited(loc.location_id) ? "fa-heart-red" : "" }}'></i>
    </div>    
</div>
