


button {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: none;

  padding-left: 15px;
  background-color: lightblue;
  
  
  
}


  input {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: none;
    padding-left: 15px;
  
    

select, button, input {

    border-radius: 5px;

    border-radius: 10px;
    margin-bottom:2em;

    width: 200px;
    height: 30px;
    border: none;
    padding-left: 15px;
    display: flex; 
    color:black;
    /* flex-direction: column; */

}

input, button {
  display: inline;
}


.search-form {
    background: #000;
    color: #fff;
    display: flex; 
    flex-direction: column;
    padding-left: 90px;
    margin: 20px 0px 40px;
}
h3 {
  animation-duration: 3s;
  animation-name: slidein;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


#rethink {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-top: 180px;
  padding-left: 90px;
  /* width: 43%; */

  /* color: white;
  padding-left: 90px;
  padding-top: 220px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

#future {
  font-size: 80px;

div p {
   
    color: white;
    display: flex;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding-left: 90px;
    padding-top: 150px;
    width: 190%;
}
.future {
    font-size: 100px;

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 90px;
    margin: 0;


  /* padding-top: 5px;
  padding-left: 90px;
  font-size: 40px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}



   
}

p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: lightgreen;
    padding-left: 90px;
    width: 43%;


    
}




.container {
    display: inline-block;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
    
  @media only screen and (min-width: 768px) {
    .earth {
      width: 500px;
      height: 500px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    }
    
    .earth:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: -20px -20px 50px 2px #000 inset;
      border-radius: 50%;
    }
    
    .earth > div {
      width: 200%;
      height: 100%;
      animation: spin 30s linear alternate infinite;
      background: url(https://web.opendrive.com/api/v1/download/file/NDhfMjY5NTE1MTBfTEN6VHg);
      /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
      background-size: cover;
    }
    @keyframes spin {
      to {
        transform: translateX(-50%);
      }
    }
    
  }
  @media only screen and (min-width: 950px) {
    .earth {
      width: 500px;
      height: 500px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    }
    
    .earth:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: -20px -20px 50px 2px #000 inset;
      border-radius: 50%;
    }
    
    .earth > div {
      width: 200%;
      height: 100%;
      animation: spin 30s linear alternate infinite;
      background: url(https://web.opendrive.com/api/v1/download/file/NDhfMjY5NTE1MTBfTEN6VHg);
      /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
      background-size: cover;
    }
    @keyframes spin {
      to {
        transform: translateX(-50%);
      }
    }
  }

}

@media only screen and (max-width: 480px) {
    div p {
        margin-top: 10px;
        width: 100%;
    }
}

